body {
  background-color: whitesmoke;
}

.image {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  display: grid;
}

h3 {
  text-align: center;
}

a {
  text-align: center;
}
