body {
  background-color: whitesmoke;
}

.image {
  display: grid;
  place-items: center;
  border-radius: 15px;
}

h3 {
  text-align: center;
}

a {
  text-align: center;
}

p {
  text-align: center;
}
