body {
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.image {
  max-width: 50%; /* Adjust the maximum width as needed */
  max-height: 50vh; /* Adjust the maximum height as needed */
  border-radius: 15px;
}

h3 {
  text-align: center;
}

a {
  text-align: center;
}
